executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}



process {
    executor='local'
    scratch=false
    maxRetries=2
    errorStrategy='retry'

    withName: downloadSRA{
        container="pegi3s/sratoolkit"
        cpus=1
    }
    indexGenome{
        container="evolbioinfo/star:v2.7.6a"
    }
}
