executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

process {
    executor='local'
    scratch=false
    maxRetries=2
    errorStrategy='retry'

    withName: downloadRSA{
        container="pegi3s/sratoolkit"
    }
}
