executor {
    name = 'slurm'
    queueSize = 2000
}

docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withName: reformatFasta {
        cpus=1
        memory = "1G"
        time = "30s"
        container="evolbioinfo/goalign:v0.3.2"
    }
}

