docker {
    enabled = true
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

process {
    withName: downloadFastQ{
        container="pegi3s/sratoolkit"
    }

    indexGenome{
        container="evolbioinfo/star:v2.7.6a"
    }
}
